/*
--floral-white: #fff8f0ff;
--dim-gray: #6d676eff;
--asparagus: #659b5eff;
--dark-purple: #2e0014ff;
--british-racing-green: #003e1fff;
*/

* {
    background-color: #fff8f0ff;
    color: #2e0014ff;
    font-family: "Georgia", "Garamond", serif;
    text-align: center;
}

p ,
strong ,
.recipe-list {
    font-family: "Verdana", "Tahoma", sans-serif;
    font-size:large;
}

p {
    text-align: justify;
}

.recipe-list ,
.green {
    color: #003e1fff;
}
